.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #213547;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.card:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

img {
    max-height: 80%;
    max-width: 80%;
}