header {
    margin: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

ul > li {
    list-style-type: none;
}

h1, h2 {
    margin: 0;
    text-align: center;
}